@import "tailwindcss";

:root {
  --background: #232d64;
  --primaryColor: #2d2d8a;
  --tacticColor: #4a1f8f;
  --accentColor: #4f7092;
  --textColor: #c7c4c4;
  --foreground: #171717;
}

@theme {
  --color-textColor: var(--textColor);
  --color-primaryColor: var(--primaryColor);
  --color-accentColor: var(--accentColor);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-tacticColor: var(--tacticColor);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

h1 {
  color: var(--textColor);
  font: bold 4em Tahoma, sans-serif;
  padding: 0.5rem;
}

@layer base{
  h2{
    font: bold 2em Tahoma, sans-serif;
    text-align: center;
  }
}

@layer components{
  
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
